#paintbox {
    /* height: 150px;
    width: 500px; */
    border: dotted black 1px;
    align-content;: center
}
div{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    /* display: inline; */
}